small[data-bv-result="INVALID"]{
	color:red;
	font-size: 12px;
}

.modal-medium{
	max-width: 60%;
}
.modal-large{
	max-width: 80%;
}

/*table{
	 -moz-transform: scale(0.8, 0.8); 
    zoom: 0.8; 
    zoom: 50%; 
}
*/