.panel_period {
	background-color: white;

}


.radio_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #cecece;
	/* width: 280px;
  height: 50px; */
	height: 30px;
	width: 150px;
	border-radius: 9999px;
	/* box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15); */
}

input[type="radio"]:checked+label {
	background-color: #18C3D7;
	color: #FFFF;
	/* font-weight: 1; */
	transition: 0.3s;
}

input[type="radio"] {
	appearance: none;
	display: none;
}


label {
	/* font-family: "Open Sans", sans-serif; */
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	width: 80px;
	height: 30px;
	text-align: center;
	border-radius: 9999px;
	overflow: hidden;
	transition: linear 0.3s;
	color: #6e6e6edd;
}

.dropdown_year {
	background-color: #18C3D7;
	-moz-border-radius: 24px;
	-khtml-border-radius: 24px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	height: 30px;
	cursor: pointer;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	color: white;
	font-size: 11px;
	border-color: transparent;
	-moz-transform: translate3d(0, 0, 0);
	width: 150px;
	padding-left: 15px;


	-webkit-appearance: none;
	appearance: none;

	position: relative !important;

}

.dropdown_planlist {
	background-color: #18C3D7;
	-moz-border-radius: 24px;
	-khtml-border-radius: 24px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	height: 30px;
	cursor: pointer;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	color: white;
	font-size: 11px;
	border-color: transparent;
	-moz-transform: translate3d(0, 0, 0);
	/* width: 150px; */
	padding-left: 15px;
	padding-right: 30px;


	-webkit-appearance: none;
	appearance: none;

	position: relative !important;

}
.angledowncompare {
	/* float: right; */
	/* margin-right: -85px; */
	right:30px;
	margin-top: 3px;
	font-size: 22px;
	/* margin-right: 6px; */
	/* margin-top: -25px; */
	position: absolute;
	z-index: 999;
	color: #ffff;
}


.select-wrapper {
	position: relative;
}

.select-wrapper::after {
	content: "▼";
	font-size: 1rem;
	top: 6px;
	right: 10px;
	position: absolute;
}


.angledown {
	float: right;
	margin-right: -85px;
	margin-top: 3px;
	font-size: 22px;
	margin-right: -130px !important;
	/* margin-right: 6px; */
	/* margin-top: -25px; */
	position: relative;
	z-index: 999;
	color: #ffff;
}


.duration_month{
	width: 150px;
}


.div_graph{
	background-color: white;

	box-sizing: border-box;
	border-top: 3px solid transparent;
	border-right: 3px solid transparent;
	background-clip: padding-box;
}
.div_table{
	background-color: white;
	box-sizing: border-box;
	border-top: 3px solid transparent;
	border-left: 3px solid transparent;
	background-clip: padding-box;
}

.ui-datepicker-calendar {
	display: none;
}


.compare1_color{
	background-color: #91c5ff;
}
.compare2_color{
	background-color: #b8d719;
}
.compare3_color{
	background-color: #ff8889;
}
.compare4_color{
	background-color: #c078ff;
}
.compare5_color{
	background-color: #ffc324;
}
.compare6_color{
	background-color: #ff8afc;
}

.dot {
	height: 17px;
	width: 17px;
	
	border-radius: 50%;
	display: block;
  }

  .text_chart{
	color: #A1A1A2;
	font-size:12px;

	padding-left:25px;
  }