td.containers {
	height: 10px !important;
}

table {
	height: 0px !important;
}



.modal-backdrop {
	opacity: 0;
	transition: opacity .2s;
}

.modal-backdrop.in {
	opacity: .7;
}

.round {
	position: relative;
	/* position: absolute; */
	right: 5px;
	top: 2px;
	/* margin-top: -60px; */
}

.round label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 22px;
	left: 0;
	position: absolute;
	top: 0;
	width: 22px;
}

.round label:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: "";
	height: 6px;
	left: 5px;
	opacity: 0;
	position: absolute;
	top: 6px;
	transform: rotate(-45deg);
	width: 10px;
}

.round input[type="checkbox"] {
	visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
	background-color: #18C3D7;
	border-color: ##18C3D7;
}

.round input[type="checkbox"]:checked+label:after {
	opacity: 1;
}


.lds-roller {
	display: inline-block;
	position: absolute;
	/* width: 80px;
  height: 80px; */

	height: 100%;
	width: 100%;
	/* background: url(/design/images/loader.gif) no-repeat center center;
  position: absolute; */
	z-index: 10;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}




.dataTables_filter,
.dataTables_info {
	display: none;
}

.ui-datepicker-calendar {
	display: none;
}

.panel_site {
	background-color: white;
	min-height: 100%;
}


.panel_site_modal {
	background-color: white;
	min-height: 100%;
}

.panel_description {
	background-color: white;
	min-height: 100%;
}

.panel_energyused {
	background-color: white;
	min-height: 100%;
}

.header_label_container {}

.searchspan {
	float: right;
	margin-right: 6px;
	margin-top: -25px;
	position: relative;
	z-index: 2;
	color: #18c3d7;
}

.angledown {
	float: right;
	margin-right: -85px;
	margin-top: 3px;
	font-size: 22px;
	/* margin-right: 6px; */
	/* margin-top: -25px; */
	position: relative;
	z-index: 999;
	color: #ffff;
}


.angledownmodal {
	/* float: right; */
	/* margin-top: 3px; */
	z-index: 999999;
	margin-left: 20px;
	margin-top: -25px;
	font-size: 22px;
	/* margin-right: 6px; */
	position: absolute;

	color: #fff;
}

input:-webkit-autofill {
	-webkit-text-fill-color: #18c3d7 !important;
}

input::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 3;
}

.size_tag_class {}



.text_tag_onactive {
	color: white !important;
}



#map {
	height: 100%;
}

.box {
	box-sizing: border-box;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	background-clip: padding-box;
}

.over-flow-container {
	overflow-x: hidden;
	overflow-y: auto;

}


/* .site_div_class_active {
  background-color: #18c3d7;
  
  color: white !important;
  position: relative;
}

.arrow-right {
 
  width: 0;
  height: 0;

  border-color: transparent #18c3d7 transparent transparent;
  border-top: 38px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 39px solid #18c3d7;
  right: -23px;
  top: 110px;
  position: absolute;
  z-index: 5;
}
*/






.site_div_class_active {
	position: relative;
	background: #18c3d7;
	/* border: 2px solid #c2e1f5; */
	/* height: 40px; */
	width: 100%;
	z-index: 12345;
}

.site_div_class_active:after,
.site_div_class_active:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.site_div_class_active:after {
	/* border-color: rgba(136, 183, 213, 0);
  border-left-color: #18c3d7;
  border-width: 10px;
  margin-top: -10px; */
}

.site_div_class_active:before {
	/* border-color: rgba(194, 225, 245, 0);
  border-left-color: #18c3d7;
  border-width: 33px;
  margin-top: -33px; */


	border-top: 32px solid transparent;
	border-left: 12px solid #18c3d7;
	border-bottom: 30px solid transparent;
	margin-top: -31px;

}

.radio_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #cecece;
	/* width: 280px;
  height: 50px; */
	height: 30px;
	width: 150px;
	border-radius: 9999px;
	/* box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15); */
}

input[type="radio"]:checked+label {
	background-color: #18C3D7;
	color: #FFFF;
	/* font-weight: 1; */
	transition: 0.3s;
}

input[type="radio"] {
	appearance: none;
	display: none;
}

label {
	/* font-family: "Open Sans", sans-serif; */
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	width: 80px;
	height: 30px;
	text-align: center;
	border-radius: 9999px;
	overflow: hidden;
	transition: linear 0.3s;
	color: #6e6e6edd;
}

.dropdown_year {
	background-color: #18C3D7;
	-moz-border-radius: 24px;
	-khtml-border-radius: 24px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	height: 30px;
	cursor: pointer;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	color: white;
	font-size: 11px;
	border-color: transparent;
	-moz-transform: translate3d(0, 0, 0);
  width:75px;
  padding-left:15px;

  
  -webkit-appearance: none;
  appearance: none;

  position: relative !important;

}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▼";
  font-size: 1rem;
  top: 6px;
  right: 10px;
  position: absolute;
}